<app-list-header
  [headerName]="'Meetings'"
  [buttonName]="'Add meeting'"
  (buttonClicked)="openAddMeetingDialog()"
></app-list-header>

<div class="mat-elevation-z8">
  <div class="filter-container">
    <form [formGroup]="form">
      <mat-form-field>
        <mat-label>Filter meetings by user</mat-label>
        <mat-select formControlName="users" multiple (selectionChange)="filterByUser()">
          <mat-option
            *ngFor="let user of userList"
            [value]="user.id"
          >
            {{user.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </div>
  <mwl-calendar-week-view
    [events]="events"
    [viewDate]="viewDate"
    [dayStartHour]="9"
    [dayEndHour]="17"
    [weekStartsOn]="1"
    [excludeDays]="[0, 6]"
    [tooltipDelay]="200"
  ></mwl-calendar-week-view>
</div>