<form [formGroup]="form">
  <mat-form-field>
    <input
      formControlName="name"
      matInput
      type="text"
    >
    <mat-label>Name</mat-label>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Date</mat-label>
    <input
      matInput
      [matDatepicker]="picker" 
      formControlName="date"
    >
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Start time</mat-label>
    <mat-select formControlName="start">
      <mat-option *ngFor="let hour of timeSlots" [value]="hour">
        {{hour}}:00
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>End time</mat-label>
    <mat-select formControlName="end">
      <mat-option *ngFor="let hour of filterEndTime()" [value]="hour">
        {{hour}}:00
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Participants</mat-label>
    <mat-select formControlName="participants" multiple>
      <mat-option *ngFor="let user of userList" [value]="user.id">{{user.name}}</mat-option>
    </mat-select>
  </mat-form-field>
</form>