<mat-drawer-container>
  <mat-drawer mode="side" opened>
    <mat-list class="menu">
      <mat-list-item
        *ngFor="let menuItem of menuList"
        matRipple
        [routerLink]="menuItem.route"
        [routerLinkActive]="['menu-item-active']"
      >
        <mat-icon color="primary">{{ menuItem.icon }}</mat-icon>
        <span>{{ menuItem.name }}</span>
      </mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>